<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Password generator.</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
	<div class="text-center">
		<h3>Strong password generator :)</h3><hr>
		<form action="{% url 'pass' %}">
			<div class="text-primary">
				<select name="len"> 
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="12">12</option>
				<option value="20">20</option>
			</select> Length
			</div>
			<div>
				<input type="checkbox" name="numbers"> Numbers
			</div>
			<div>
				<input type="checkbox" name="uppercase"> Uppercase
			</div>
			<div>
				<input type="checkbox" name="special"> Special chars
			</div>
			<button class="btn btn-primary" type="submit">Generate</button>
		</form>
	</div>
</div>
</body>
</html>

