<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Password generator.</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
	<div class="text-center">
		<h3>Your Password Is Bellow:</h3><hr>
		<p class="alert alert-success">{{ my_pass }}</p>
		<a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
	</div>

</div>
</body>
</html>

